/*section*/
#content{
	width:962px;
	
	margin:0 auto;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
}
#content:after{
	content:"";
	display:block;
	clear:both;
}
/*메뉴section*/
#contentNav{
	width:200px;
	height:250px;
	float:left;
}
#contentNav>ul{
	
	list-style:none;
}
#contentNav>ul>li{
	height:100px;
	line-height:100px;
	text-align:center;
	/*background-color:rgba(16,95,151);*/
	background-color:#0B0B61;
	color:#fff;
	font-family: 'Concert One', cursive;
	font-size:20px;
}
#contentNav>ul>ul{
	
	list-style:none;
	text-indent:30px;
}
#contentNav>ul>ul>li{
	height:50px;
	line-height:50px;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
	font-family: 'Yeon Sung', cursive;
}
#contentNav>ul>ul>li>a{
	display:block;
	font-family: 'Yeon Sung', cursive;
}

/*컨텐츠section*/
#mainCont{
	width:760px;
	height:900px;
	border-left:1px solid #CCC;
	float:left;
}
h1{
	border-bottom:1px solid #000;
	width:700px;
	height:100px;
	line-height:100px;
	margin:0 auto;
	font-family: 'Yeon Sung', cursive;
	font-size:40px;
}

table{
	border-collapse:collapse;
	border:1px solid #000;
	text-align:center;
	
}
td{
	border:1px solid #000;
	font-family: 'Yeon Sung', cursive;
	height:30px;
}
th{
	border:1px solid #000;
	height:40px;
	line-height:40px;
	background-color:#2E64FE;
	color:#fff;
	font-family: 'Yeon Sung', cursive;
}



.link{
	font-family: 'Yeon Sung', cursive;
	color:#fff;
	border:1px solid #000;
	/*display:block;*/
	height:30px;
	line-height:30px;
	text-align:center;
	border-radius: 20px;
	margin:10px 30px 10px 0;
}

.but1{
	width:100px;
	background-color: #256319;
	font-size:17px;
	float:left;
}

.but2{
	width:70px;
	background-color: #0000ff;
	font-size:17px;
	float:left;
	margin:10px;
}

.but3{
	width:70px;
	background-color: #d41594;
	font-size:17px;
	float:left;
	margin:10px;
}

.but4{
	width:200px;
	background-color: #ffff00;
	color:#000;
	font-size:17px;
	float:left;
	margin:15px;
}

#box1{
	width:700px;
	margin:10px 30px 0 30px;
}
input, textarea{
	font-family: 'Yeon Sung', cursive;
	font-size:17px;
}
#qta{
	font-family: 'Yeon Sung', cursive;
	text-decoration:underline;
	color:blue;
}
